@model Gymer.Models.BaiViet

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ADMIN/Views/Layout/Layout.cshtml";
}

@using (Html.BeginForm("Create", "BaiViets", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <b class="btn btn-dark container ">Bài Viết</b>
    <hr />

    <div class="form-group">
        &nbsp;&nbsp; <b>Tên chủ đề</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenChuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenChuDe, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--Ten Chu De-->
    <div class="form-group">
        &nbsp;&nbsp;&nbsp;<b>Nội Dung</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        &nbsp;&nbsp;&nbsp;<b>Hướng Dẫn</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HuongDan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HuongDan, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaDanhMucPhanCap, "MaDanhMucPhanCap", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaDanhMucPhanCap, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        &nbsp;&nbsp;&nbsp;<b>Ảnh chủ đề</b>
        <div class="col-md-10">
            <input type="file" class="btn btn-danger" name="fileUpload" required />
        </div>
    </div>
    <div class="form-group">
        &nbsp;&nbsp;&nbsp;<b>Ngày đăng</b>
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.NgayDang, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="date" name="NgayDang" class="form-control" required />
            @Html.ValidationMessageFor(model => model.NgayDang, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        &nbsp;&nbsp; &nbsp;<b>Lượt Xem</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LuotXem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LuotXem, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo" class="btn btn-outline-dark" />
        </div>
    </div>
</div>
}

<div class="btn btn-outline-dark" style="margin-left:14px">
    @Html.ActionLink("Back to List", "Index")
</div>

